.body {
    scroll-behavior: smooth;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  background-color: #fff;
  color: black;
  padding: 20px 50px;
  z-index: 10;
}

.header__list {
    display: flex;
    gap: 50px;
}

.header__item:last-child {
 position: relative;
 display: flex;
 flex-direction: column;
 align-items: center;
}

.header__link {

}

.submenu {
position: absolute;
/* width: 100%; */
top: 100%;
left: 0;
display: none;
background-color: #fff;
border: 1px solid yellow;
padding: 10px;
}

.header__item:last-child:hover .submenu {
  display: block;
}

.submenu__item {
}
.submenu__link {
}

.current::after {
content: "";
display: block;
height: 4px;
width: 100%;
background-color: red;
border-radius:2px;
margin-top: 10px;
}

.hero {
  position: relative;
  height: 100vh;
  background-image: url(./cyberpankscity.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  background-size: contain;
}




.hero__thumb {
  border: 3px solid yellow;
  position: absolute;
  border-radius: 20px;
  overflow: hidden;
}

.hero__thumb-right {
  width: 400px;
  bottom: 300px;
  left: 300px;
}

.hero__thumb-left {
  width: 450px;
  top: 100px;
  right: 100px;
}

.btn-open {
  display: flex;
}

.section {
    height: 100vh;
}

#about {
    background-color:aqua;
}

#projects {
    background-color: blueviolet;
}

#contacts {
    background-color: yellow;
}

.section {
}

.slide__menu {
  display: flex;
  background-color: grey;
  width: 50vw;
  height: 500px;
  color: #fff;
align-items: center;
justify-content: space-between;
transform: translate(-95%);
transition: all 480ms ease-in-out;
}

.slide__menu:hover {
  transform: translate(0%);
}

.slide__menu__hover .slide__menu__title {
  display: none;
}

.slide__menu__title {
  writing-mode: vertical-rl;
}
.slide__menu__list {
}
.slide__menu_item {
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* .no-scroll {
    overflow: hidden;
} */

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 1000px;
  min-height: 750px;
  padding: 50px;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px, 1px,
    0px rgba(0, 0, 0, 0.14);
  overflow: scroll;
}

.close__icon {
  width: 18px;
  height: 18px;
}

.close__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #fff;
}

.close__btn:hover .close__btn:focus {
}

.modal__title {
}

.form {
  display: flex;
  flex-direction: column;
}
